<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h1>Edit Your Post</h1>
    <h4>User ID : <%= post.id %>  </h4>
    <h4>Username : <%= post.username %> </h4>

    <form method="POST" action="/post/<%= post.id %>?_method=PATCH">
    <textarea name="post"><%= post.post %></textarea>
    <button>Submit</button>
</form>

</body>
</html>