<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
    <link rel="stylesheet" href="/new.css">

</head>
<body>
    <form method="post" action="/post">
        <input type="text" placeholder="entre username here" name="username">
        <br><br>
        <textarea name="post" placeholder="entre the post"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>