<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.id %></title>
</head>
<body>
    <h1><%= post.id %></h1>

    <h3>Username : <%= post.username %></h3>
    <h5>Post : <%= post.post %></h5>
</body>
</html>